name: Cypress Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout/clone do projeto
        uses: actions/checkout@v4

      - name: instalar dependencias 
        uses: npm install

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          record: true
        env: 
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}